:root {
  --prompt-height: 260px;
  --prompt-btn-width: 100%;
  --prompt-btn-gap: 0;
  
  --images-height: calc(100dvh - var(--prompt-height));
  --image-margin: calc( (var(--images-height) - var(--image-size)) / 2 ) calc( (100dvw - var(--image-size)) / 2 );
  --image-size: min((100dvh - var(--prompt-height))*0.9, 100dvw*0.9);

  --text: #ff7171;
  --text-hover: #ff4f4f;
  --text-highlight: #fa255e;
  --border-textarea: #ff4f4f;
  --back: #fff0f0;
  --back-textarea: #fffafa;
  --back-hover: #ffcece;
  --back-lighter: #fffdfd;
}
.dark {
  --text: #ff6171;
  --text-hover: #ff4f4f;
  --text-highlight: #fa255e;
  --border-textarea: #000000;
  --back: #000000;
  --back-textarea: #101010;
  --back-hover: #000000;
  --back-lighter: #1a1515;
  & .lang-switcher {
    filter: brightness(0.5) grayscale(0.35);
  }
}
@media screen and (min-width: 768px){
  :root {
    --prompt-height: 210px;
    --prompt-btn-width: calc(50% - 8px);
    --prompt-btn-gap: 10px;
  }
}


@media screen and (max-height: 440px){
  .container {
    display: none;
  }
  html::before {
    content: "设备屏幕高度过小";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: #fa255e;
  }
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  color: var(--text-highlight);
}
button {
  border: none;
  outline: none;
}
