.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  --prompt-height: 260px;
  --prompt-btn-width: 100%;
  --prompt-btn-gap: 0;
  
  --images-height: calc(100vh - var(--prompt-height));
  --image-size: min((100vh - var(--prompt-height))*0.9, 100vw*0.9);

  --text: #ff7171;
  --text-hover: #ff4f4f;
  --text-highlight: #fa255e;
  --back: #fff0f0;
  --back-hover: #ffcece;
  --back-lighter: #fffdfd;
}

@media screen and (min-width: 768px){
  .container {
    --prompt-height: 210px;
    --prompt-btn-width: calc(50% - 8px);
    --prompt-btn-gap: 10px;
  }
}

a {
  color: var(--text-highlight);
}