.dialog-main {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  background-color: rgba(15, 0, 0, 0.3);
  z-index: 1000;
  &:focus {
    outline: none;
    border: none;
  }

  & .dialog-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .dialog-sub {
      width: 300px;
      height: 200px;
      background-color: var(--back);
      border-radius: 20px;
      overflow: hidden;

      & .dialog-title {
        display: block;
        width: 100%;
        height: 45px;
        line-height: 45px;
        text-align: left;
        padding: 0 18px;
        font-family: Microsoft YaHei;
        font-weight: bold;
        color: var(--text);
        border-radius: 20px 20px 0 0;
      }

      & .dialog-content {
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--text) var(--back);
        display: block;
        width: 100%;
        height: calc(100% - 58px);
        text-align: left;
        word-wrap: break-word;
        padding: 0 18px;
        margin-bottom: 18px;
        font-family: Microsoft YaHei;
        color: var(--text);
        opacity: 0.9;
      }
    }

    & .dialog-button {
      width: 300px;
      height: 40px;
      margin-top: 10px;
      border: none;
      border-radius: 20px;
      padding: 10px;
      transition: all 0.2s ease;
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: var(--text);
      background-color: var(--back);
      &:hover {
        transform: scale(1.02);
        background-color: var(--back-hover);
        color: var(--text-hover);
      }
      &:active {
        transform: scale(0.98);
        background-color: var(--back-hover);
        color: var(--text-hover);
      }
    }
  }
}