.prompt-container {
  position: relative;
  width: 100%;
  height: var(--prompt-height);
  background-color: var(--back-lighter);
  padding: 30px 10%;
  margin: 0;
  overflow: hidden;

  & .prompt-textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px 15px;
    border: 1px solid var(--text-hover);
    border-radius: 20px;
    transition: all 0.2s ease;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: var(--text);
    scrollbar-width: none;
    &:focus {
      transform: scale(1.01);
      outline: none;
    }
    &::placeholder {
      font-weight: bold;
      opacity: 0.75;
      color: var(--text);
    }
  }
  & .prompt-models,
  & .prompt-submit {
    display: inline-block;
    width: var(--prompt-btn-width);
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 15px;
    font-weight: bold;
    color: var(--text);
    background-color: var(--back);
    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.02);
      background-color: var(--back-hover);
      color: var(--text-hover);
    }
  }
  & .prompt-submit {
    margin-left: var(--prompt-btn-gap);
    &:active {
      transform: scale(0.98);
      background-color: var(--back-hover);
      color: var(--text-hover);
    }
    &:disabled {
      cursor: progress;
    } 
  }
  & .prompt-models {
    appearance: none;
  }
}
