.prompt-container {
  width: 100%;
  height: var(--form-height);
  padding: 30px 10%;
  margin: 0;
  overflow: hidden;
  position: relative;

  & .prompt-textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px 15px;
    border: 1px solid var(--boradercolor);
    border-radius: 20px;
    transition: all 0.2s ease;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: var(--textcolor);
    scrollbar-width: none;
    &:focus {
      transform: scale(1.01);
      outline: none;
    }
    &::placeholder {
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: var(--textcolor);
    }
  }
  & .prompt-models,
  & .prompt-submit {
    display: inline-block;
    width: var(--form-item-width);
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 15px;
    transition: all 0.2s ease;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: var(--textcolor);
    background-color: var(--backcolor);
    outline: none;
    &:hover {
      transform: scale(1.02);
      background-color: var(--backcolor-hover);
      color: var(--textcolor-hover);
    }
  }
  & .prompt-submit {
    &:active {
      transform: scale(0.98);
      background-color: var(--backcolor-hover);
      color: var(--textcolor-hover);
    }
    &:disabled {
      cursor: progress;
    } 
  }
  & .prompt-models {
    appearance: none;
  }
}

@media screen and (min-width: 768px) {
  .prompt-submit {
    margin-left: 10px;
  } 
}